	@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
    @import url('https://fonts.googleapis.com/css?family=Muli:300,400');

		*, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}
		.body {
            background: #fd746c; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-position: center center;
            background-size: cover;
            width: 85%;
            color: #fff;
            font: 14px 'Muli', sans-serif;
        }

		/* You can safely remove the next two lines */
		
		a { color: rgba(255,255,255,0.8); text-transform: uppercase; text-decoration: none; line-height: 42px; }

		h1 {padding: 50px 0; font-weight: 400; text-align: center;}
		h4 {font-weight: bolder; text-align: left;}
        span {font-weight: bolder; color: red;}
		p {margin: 0 0 20px; line-height: 1.5;}
        img{width: 85%;}
        li{list-style: disc;}
        
    
		.main {margin: 0 auto; min-width: 320px; max-width: 800px;}
		.content {background: #fff; color: #373737;}
		.content > div {display: none; padding: 20px 25px 5px;}
        .fa-thumbs-up{color: #2ECC71; padding: 0 10px 0 10px }

		input {display: none;}
		label {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center;}
		label:hover {color: #fff; cursor: pointer;}
		input:checked + label {background: #303030; color: #fff;}

		#tab1:checked ~ .content #content1,
		#tab2:checked ~ .content #content2,
		#tab3:checked ~ .content #content3,
		#tab4:checked ~ .content #content4 {
		  display: block;
		}

		@media screen and (max-width: 400px) { label {padding: 15px 10px;} }